---
import Navbar          from './Navbar.astro';
import Hero            from './Hero.astro';
import GrowthStages    from './GrowthStages.astro';
import ProductShowcase from './ProductShowcase.astro';
import Ecosystems      from './Ecosystems.astro';
import Process         from './Process.astro';
import Photosynthesis  from './Photosynthesis.astro';
import Stats           from './Stats.astro';
import Curiosities     from './Curiosities.astro';
import Tips            from './Tips.astro';
import Conservation    from './Conservation.astro';
import Footer          from './Footer.astro';
---
<Navbar />
<Hero />
<GrowthStages />
<div class="wave-sep" aria-hidden="true">
  <svg viewBox="0 0 1440 80" preserveAspectRatio="none">
    <path d="M0,40 C360,80 1080,0 1440,40 L1440,80 L0,80Z" fill="#0d2b1a"/>
  </svg>
</div>
<ProductShowcase />
<div class="wave-sep" aria-hidden="true">
  <svg viewBox="0 0 1440 80" preserveAspectRatio="none">
    <path d="M0,20 C480,80 960,0 1440,50 L1440,80 L0,80Z" fill="#0d2b1a"/>
  </svg>
</div>
<Ecosystems />
<Process />
<Photosynthesis />
<Stats />
<Curiosities />
<Tips />
<Conservation />
<Footer />
